@charset "utf-8";
/* CSS Document */
body{ overflow:hidden;}
a{ text-decoration:none; color:#FFF;}
a img{ border:none;}
.img-box,.img-box div,.img-box div img{ width:800px; height:450px; }
.img-box{ margin:auto;position:relative; }
.img-box span{ position:absolute;bottom:0;left:295px; width:201px;font-size:12px; line-height:25px;color:#FFF; z-index:100; background:#555; text-align:center;}
.img-box div{ position: absolute;cursor: all-scroll }
.btn-box{ width:800px; height:40px;margin: auto; cursor:pointer; background:#222; }
.btn-margin{ width:210px; height:40px; margin: auto;}
.btn{ width:100px; height:38px; line-height:38px; margin:1px 1px 0 0;  text-align:center; float:left;color:#FFF;  background:#555; }

