@charset
"utf-8"
;
@charset
"utf-8"
;
body {
    font: 12px/1.5 Tahoma,'\5FAE\8F6F\96C5\9ED1','Microsoft Yahei',"hiragino sans gb", Helvetica, Arial, "\5b8b\4f53", 'sans-serif';
    color: #333;
}
html, body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, object, code, legend, button, input, textarea, label, th, td, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}
:focus {
    outline: 0;
}
ul, ol {
    list-style: none;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, i, th, var, optgroup {
    font-style: normal;
    font-weight: normal;
}
abbr, acronym {
    border: 0;
    font-variant: normal;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
code, kbd, samp, tt {
    font-size: 100%;
}
input, button, textarea, select {
    *font-size: 100%;
    outline: none;
}
textarea {
    resize: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
a {
    color: #333;
    text-decoration: none;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
a:hover {
    color: #690;
    text-decoration: none;
}
a.special, .special a {
    color: #690;
}
a.special:hover, .special a:hover {
    color: #390;
    text-decoration: none;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}
.overflow {
    overflow: hidden;
    *zoom: 1;
}
body {
    background-color: #fff;
}

.index_focus {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;

}
.index_focus .bd li {  
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}
.index_focus_post {
    z-index: 10;
}
.index_focus .pic {
    height: auto;
    display: block;
}
.index_focus .pic:hover {
    text-decoration: none;
}
.index_focus .slide_nav {
    position: absolute;
    left: 45%;
    bottom:2%;

}
.index_focus .slide_nav a {
	cursor:pointer;
	float:left;
    font-size:28px;
    font-family: arial;
    color: #fff;
	padding:5px 10px;
}
.index_focus .slide_nav li:hover,.index_focus .slide_nav .on{text-decoration: none;color: #9c0;filter: alpha(opacity=80);opacity: 0.8;}
.index_focus_pre,.index_focus_next {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -36px;
    width: 72px;
    height: 72px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 10;
    background: url(../images/ico_sliding.png) no-repeat;
}
.index_focus_pre {
    left: 30px;
    background-position: 0 0;
}
.index_focus_pre:hover {
    background-position: 0 -144px;
}
.index_focus_next {
    right: 30px;
    background-position: 0 -72px;
}
.index_focus_next:hover {
    background-position: 0 -216px;
}
.index_focus_info {
    position: absolute;
    left: 10%;
    bottom: 12%;
    width: 800px;
    height: 200px;
    padding-bottom: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-family: "\5fae\8f6f\96c5\9ed1";
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    background: url("../images/index_focus_bg.png") no-repeat;
    _background: none;
}
.index_focus_info h3 {
    font-size: 36px;
    line-height: 70px;
    font-family: \5fae\8f6f\96c5\9ed1, \u9ed1\u4f53, "Lucida Grande";
	display:none;
}
.index_focus_info .text {
    width: 500px;
    line-height: 24px;
    font-size: 14px;
    word-wrap: break-word;
    overflow: hidden;
	display:none;
}