h1 {
	display: block;
	float: left;
	width: 255px;
	height: 34px;
	text-indent: -9999px;
	margin-top: 39px;
}

h1 a {
	display: block;
	width: 100%;
	height: 100%;
	outline: none;
	background-image: url(../images/title.png);
	background-repeat: no-repeat;
}

h2 {
	font-size: 18px;
	color: #8a2678;
	font-weight: bold;
}

h3 {
	font-weight: bold;
	font-size: 12px;
}

h4 {
}
body {
	font-family: Verdana, Geneva, sans-serif;
	background: #eeeeee;
	font-size: 12px;
}

#featured-area {

	height: 337px;
	width: 950px; padding-top:50px;
	margin:0px auto;
}
#featured-area img{ border:none}


.roundabout-holder {
	list-style:none; 
	width:500px; 
	height:300px; 
	margin:0px auto;
}

.roundabout-moveable-item {
	font-size:12px!important;
	height:300px; width:600px;
	cursor:pointer; padding:5px;
	border:1px solid #aaaaaa;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background:#f9f9f9;
}

.roundabout-moveable-item img {
	height:100%;
	width:100%;
	background-color:#FFFFFF;
	margin:0;
}

.roundabout-in-focus {
	cursor:auto;
}

.roundabout-in-focus:hover {
	-webkit-box-shadow:0px 0px 20px #787878;
	-moz-box-shadow:0px 0px 20px #787878;
	background:#f9f9f9;
}

.roundabout-holder span	 {
	display:none;
	font-size:11px;
}

.roundabout-in-focus:hover span	{
	display:inline;
	position:absolute;
	bottom:5px;
	right:5px;
	padding:8px 20px;
	background:#f9f9f9;
	color:#8A428B;
	z-index:999;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topLeft: 5px;
	font-size : 11px;
	border-left:1px solid #aaaaaa;
	border-top:1px solid #aaaaaa;
}

.roundabout a:active, .roundabout a:focus, .roundabout a:visited {
	outline:none;
	text-decoration:none;
}

.roundabout li {
	margin:0
}
