body {
	background-color: #333333;
}
ul.portfolio {
	margin: 50px auto 0;
	-ms-transform:rotate(30deg);
	-webkit-transform:rotate(30deg);
	-moz-transform:rotate(30deg);
	width: 200px;
}
ul.portfolio li {
	border: 1px solid #999999;
	height: 100px;
	list-style:none;
	margin-left: 0;
	opacity: 0.5;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	width: 200px;
}
ul.portfolio li img {
	height: 100px;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	width: 200px;
}
ul.portfolio li.feature {
	border: 5px solid #dddddd;
 -moz -box-shadow: 3px 3px 4px #222222;
	-webkit-box-shadow: 3px 3px 4px #222222;
	box-shadow: 3px 3px 4px #222222;
	height: 300px;
	margin-left: -200px;
	opacity: 1;
	position: relative;
	-ms-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	width: 600px;
	z-index: 100;
}
ul.portfolio li.feature img {
	height: 300px;
	width: 600px;
}